/*MAIN CONTAINER*/


/*DATALIST*/
/*FINESTRA CHE SI APRE DEL DATALIST*/
.react-datalist-input__listbox {
    height: 30vh;
    overflow: scroll;
}
/*PER ELIMINARE LA BARRA DI SCORRIMENTO*/
.react-datalist-input__listbox::-webkit-scrollbar {
    display: none;
}
.react-datalist-input__listbox-option:focus {
    background-color: royalblue;
}
.react-datalist-input__listbox-option:hover {
    background-color: var(--bs-blue)!important;
    color: white;
}

/*CARD CLIENTE*/
.listGroupCardCliente {
    border: 1px solid gainsboro!important;
    border-radius: 5px;
}
.infoButtonCliente:hover {
    border-bottom: 1px solid red!important;
}

/*NAVBAR*/
.navbarContainer {
    height: 100vh;
    box-shadow: 1px 0 10px gray;
    position: sticky;
    top: 0;
}

/*SETTINGS*/
.settingsContainer {
    height: 100vh;
    box-shadow: -1px 0 10px gray;
    position: sticky;
    top: 0;
}

/*HOME*/
